* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto";
}

body {
    background: linear-gradient(135deg, #01082c 0%, #01061d 50%, #06052a 100%);
    color: #ccc;
    height: 100vh;
}

.app {
    padding: 100px 15%;
}

.top {
    position: relative;
}

.glow,
.glow-secondary {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
}

.glow {
    width: 60vmin;
    height: 60vmin;
    background: radial-gradient(circle at 30% 30%, rgba(70, 23, 226, 0.6), rgba(11, 90, 193, 0.15) 60%, rgba(46, 36, 234, 0) 70%);
    filter: blur(45px);
    opacity: 0.8;
    animation: drift 25s ease-in-out infinite alternate;
}

.glow-secondary {
    width: 40vmin;
    height: 40vmin;
    background: radial-gradient(circle at 30% 30%, rgba(39, 81, 247, 0.6), rgba(11, 90, 193, 0.253) 60%, rgba(46, 36, 234, 0) 70%);
    filter: blur(45px);
    top: 300px;
    left: 70%;
    opacity: 0.55;
    animation: drift-secondary 28s ease-in-out infinite alternate;
}

@keyframes drift {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(12vmin, 8vmin, 0);
    }
    50% {
        transform: translate3d(0vmin, 16vmin, 0);
    }
    75% {
        transform: translate3d(-14vmin, 10vmin, 0);
    }
    100% {
        transform: translate3d(8vmin, -10vmin, 0);
    }
}
@keyframes drift-secondary {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    33% {
        transform: translate3d(-10vmin, 12vmin) scale(1.08);
    }
    75% {
        transform: translate3d(-14vmin, 10vmin, 0);
    }
    100% {
        transform: translate3d(8vmin, -10vmin, 0);
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.container .sidebar {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: fit-content;
    position: sticky;
    top: 50px;
}

.container .sidebar h2 {
    font-size: 18px;
}
.container .sidebar form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

.container .sidebar form h3 {
    margin-bottom: 3px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.container .sidebar form input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.container .sidebar form textarea {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 100px;
}

.container .sidebar form button {
    padding: 12px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: #fff;
}

.clearBtn {
    padding: 12px;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background-color: rgba(13, 50, 99, 0.055);
    border-radius: 10px;
    color: #3db8ff;
}

.container .main {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 35px;
}

.container .main .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .main .main-header .balance p {
    font-size: 20px;
    color: #e0e0e0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .main .main-header .balance h1 {
    font-size: 72px;
}

.transactions {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transactions .transaction-box {
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.transactions .transaction-box h2 {
    font-size: 17px;
}

.deposit {
    color: #19c1c7;
}

.withdrawal {
    color: tomato;
}

.no-transaction {
    color: #cdcdcd;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-transaction span {
    font-size: 100px;
}

.date {
    color: #ccc;
    font-weight: 800;
    font-size: 14px;
    margin-top: 10px;
}

@media screen and (max-width: 1300px) {
    .app {
        padding: 100px 5%;
    }
}

@media screen and (max-width: 980px) {
    .container {
        grid-template-columns: 1fr;
    }

    .container .sidebar {
        position: relative;
        margin-bottom: 60px;
    }
}
